{{FrontSide}}

<hr id=answer/>

{{#Masculine Singular}}
	<blue><b>{{Masculine Singular}}</b></blue><br>
{{/Masculine Singular}}
{{#Feminine Singular}}
	<red><b>{{Feminine Singular}}</b></red><br>
{{/Feminine Singular}}
{{#Masculine Plural}}
  <blue><b>{{Masculine Plural}}</b></blue><br>
{{/Masculine Plural}}
{{#Feminine Plural}}
  <red><b>{{Feminine Plural}}</b></red><br>
{{/Feminine Plural}}
{{#Adverb}}
  <p><b>{{Adverb}}</b></p>
{{/Adverb}}
{{#Infinitive}}
  <b>{{Infinitive}}</b>
{{/Infinitive}}
{{#Past Participle}}
  <p>Past part.: {{Past Participle}}</p>
{{/Past Participle}}
{{#Present Participle}}
  <p>Present part.: {{Present Participle}}</p>
{{/Present Participle}}


<cm></cm> <br>

{{#Wiktionary}}
<a href="https://en.wiktionary.org/wiki/{{Wiktionary}}#French">Wiktionary</a>
{{/Wiktionary}}
{{^Wiktionary}}
<a href="https://en.wiktionary.org/wiki/{{Masculine Singular}}#French">Wiktionary</a>
{{/Wiktionary}}

<p>
