{{FrontSide}}

<hr id=answer>

{{#Je}}
<table>
    <tr><td>Je</td><td>{{Je}}</td></tr>
    <tr><td>Tu</td><td>{{Tu}}</td></tr>
    <tr><td>Il/Elle/On</td><td>{{Il}}</td></tr>
    <tr><td>Nous</td><td>{{Nous}}</td></tr>
    <tr><td>Vous</td><td>{{Vous}}</td></tr>
    <tr><td>Ils/Elles</td><td>{{Ils}}</td></tr>
</table>
{{/Je}}
{{#Participle}}
{{Participle}}
{{/Participle}}

{{#Notes}}
<p>{{Notes}}</p>
{{/Notes}}

{{#Wiktionary}}
<p><a href="{{Wiktionary}}">Wiktionary</a></p>
{{/Wiktionary}}